@import url('https://fonts.googleapis.com/css2?family=Coda:wght@400;800&family=SUSE:wght@100..800&display=swap');

* {
    /* CORES */

    --cor-primaria: black;
    --cor-secundaria: white;
    --cor-terciaria: gray;

    --fonte-primaria: 1rem/1.5 "Coda", sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: var(--fonte-primaria);
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

/* ELEMENTS */

a {
    color: var(--cor-terciaria);
}