.divFirstSide {
    @media (max-width: 425px) {
        font-size: 1.2rem;
        display: block;
    }

    @media(min-width: 1025px) {
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: 3rem 0;
    }

    @media (prefers-color-scheme: light) {
        color: var(--color-tertiary);
    }
}

.divFirstSideLeft {
    word-wrap: break-word;
    @media (max-width: 425px) {
        font-size: .7rem;
        p {
            font-size: .8rem;
        }
    }
    
    @media (min-width: 426px) and (max-width: 1024px) {
        font-size: .9rem;
        p {
            font-size: .8rem;
        }
    }

    @media (min-width: 1025px) {
        border-right: 1px solid gray;
        padding: 2rem;
    }    
}

.divFirstSideRight {
    @media (max-width: 425px) {
        img {
            width: 13rem;
        }
    }
    padding: 1rem;
}

.divSecondSide {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    margin: 2rem 0;

    @media (min-width: 1024px) {
        display: grid;
        grid-template-columns: 1fr 2fr;
 

    }

    @media (prefers-color-scheme: light) {
        background-color: var(--color-tertiary);
        color: var(--color-secondary);
    }

}

.divSecondSideLeft {
    padding: 1rem;
}

.divSecondSideRight {
    border-left: 1px solid gray;
    padding: 2rem;
    word-wrap: break-word;
}

.divThirdSide {
    
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 3rem 0;

    @media (prefers-color-scheme: light) {
        color: var(--color-tertiary);
    }
}

.divThirdSideLeft {
    padding: .5rem;
    border-right: 1px solid gray;
}
