:root {
    /* ======================== */
    /* CORES */
    /* ======================== */

    /* CONTENT */
    --color-primary: #FFECA1;
    --color-secondary: #303133;
    --color-tertiary: #FFFFFF;

    /* ======================== */
    /* TIPOGRAFIA */
    /* ======================== */
    --main-font: 1rem/1.5 'Poppins', sans-serif;
}

body {
    font: var(--main-font);
    background-color: var(--color-primary);
    text-align: center;
}

header {
    animation: themeChange 0.5s ease-in-out forwards;
    color: var(--color-tertiary);
    background-color: var(--color-secondary);

    img {
        width: 12rem;
        height: auto;
        max-width: 100%;
    }
}

main {
}

footer {
    background-color: var(--color-secondary);
    color: var(--color-tertiary);
    padding: .6rem;

    a {
        color: var(--color-primary);
    }
}

@keyframes themeChange {

    0% { /* ESCURO */
        color: var(--color-secondary);
        background-color: var(--color-tertiary);
    }
    100% { /* CLARO */
        color: var(--color-tertiary);
        background-color: var(--color-tertiary);
        
        .imgMainLogo {

        }
    }
}