:root {
    /* ======================== */
    /* CORES */
    /* ======================== */

    /* CONTENT */
    --color-primary: #FFECA1;
    --color-secondary: #303133;
    --color-tertiary: #FFFFFF;

    /* ======================== */
    /* TIPOGRAFIA */
    /* ======================== */
    --main-font: 1rem/1.5 'Poppins', sans-serif;
}

body {
    font: var(--main-font);
    background-color: var(--color-primary);
    text-align: center;
}

header {
    #imgMainLogo {
        width: 12rem;
        height: auto;
        max-width: 100%;
    }

    @media(prefers-color-scheme: dark) {
        color: var(--color-tertiary);
        background-color: var(--color-secondary);
    }

    @media (prefers-color-scheme: light) {
        color: var(--color-secondary);
        background-color: var(--color-tertiary);
    }
}

main {
    
}

footer {
    padding: .6rem;

    a {
        color: var(--color-primary);
    }

    @media(prefers-color-scheme: dark) {
        color: var(--color-tertiary);
        background-color: var(--color-secondary);
    }

    @media (prefers-color-scheme: light) {
        color: var(--color-secondary);
        background-color: var(--color-tertiary);
    }
}
